<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Let user store pictures taken of game elements to share their scores.</string>
	<key>NSCameraUsageDescription</key>
	<string>Let user take pictures of game elements to score them automatically.</string>
</dict>
</plist>
